/* rye-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/rye-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    margin: 0;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}
 
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/background5.png');
    background-size: cover;
    position: relative;
    min-height: 100vh;
    padding: 80px;
}

.inner-content {
    width: 720px;
    height: 480px;
}

#game-over {
    width: 100%;
    height: 100%;
    background: url('img/5_background/first_half_background.png');
    background-size: cover;
    position: relative;
}

#you-won {
    width: 100%;
    height: 100%;
    background: url('img/5_background/first_half_background.png');
    background-size: cover;
    position: relative;
}

.img-game-over {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 80px;
    color: #CE6524;
    margin-block-start: 0;
    text-shadow: 2px 2px 2px #A02204;
}

h2 {
    font-size: 32px;
    color: #CE6524;
    font-weight: 700;
}

canvas {
    background-size: 720px 480px;
    position: relative;
    display: block;
}

canvas:hover {
    cursor: pointer;
}

.play-button {
    background: none;
    border: none;
    font-family: 'Rye';
    font-size: 40px;
    color: #CE6524;
    font-weight: 700;
}

.play-again-container {
    position: absolute;
    bottom: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-again-button {
    color: #FFD800;
    font-size: 32px;
    font-weight: 700;
    background: none;
    border: none;
    font-family: 'Rye';
}

.game-over-img-containe {
    width: 100%;
    height: 100%;
}

.play-again-button:hover {
    color: #A02204;
    cursor: pointer;
    transform: scale(1.2);
    text-shadow: 1px 1px 1px #CE6524;
}

.go-back-button {
    color: #FFD800;
    font-size: 40px;
    font-weight: 700;
    background: none;
    border: none;
    font-family: 'Rye';
}

.go-back-button:hover {
    color: #A02204;
    cursor: pointer;
    transform: scale(1.2);
    text-shadow: 1px 1px 1px #CE6524;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    padding: 16px;
    height: 96px;
}

.legal-notice-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #A02204;
    text-shadow: 1px 1px 1px #CE6524;
}

.link-index {
    font-size: 20px;
    color: #CE6524;
    font-weight: 700;
    text-decoration: none;
}

.link-index:hover {
    cursor: pointer;
    color: #A02204;
    transform: scale(1.05);
}

.d-none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
}

.explanation {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 16px;
    color: #A0220A;
    font-weight: 700;
}

.play-button {
    animation: scaleAnimation 0.5s infinite alternate;
    text-shadow: 1px 1px 1px #A02204;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.go-back-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content-faq-legal-notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('img/background5.png');
    background-size: cover;
    position: relative;
    min-height: 100vh;
    padding: 80px;
}

.link-source {
    text-decoration: none;
    color: black;
}

.link-source:hover {
    text-decoration: underline;
}

.responsive-buttons-container {
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    padding: 0px 80px 0px 80px;
}

.responsive-buttons-position-helper {
    display: none;
}

.img-responsive-button {
    height: 48px;
}

.buttons-right-left {
    display: flex;
    gap: 16px;
}

.button-responsive {
    background-color: #A02204;
    border: none;
    border-radius: 100%;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation-responsive {
    display: none;
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.button-responsive-explanation {
    background-color: #A02204;
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-responsive-button-explanation {
    height: 32px;
}

.turn-device {
    display: none;
    position: absolute;
    top: 18%;
    font-size: 40px;
    text-align: center;
    animation: rotateAnimation 3.5s linear infinite;
    color: #A02204;
    font-weight: 700;
    text-shadow: 1px 1px 1px #CE6524;
    width: 240px;
    }
    

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1000px) {
    .top-container {
        width: 100%;
        position: absolute;
        z-index: 999;
        top: 0px;
        padding: 8px 32px 8px 32px;
    }
    h1 {
        display: none;
    }
    .explanation {
        display: none;
    }
    canvas {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #content {
        padding: 0px;
        width: 100%;
        height: 100vh;
    }
    .content-faq-legal-notice {
        padding: 32px;
    }
    .inner-content {
        width: 100%;
        height: 100%;
    }
    .link-index {
        font-size: 16px;
    }
    .responsive-buttons-position-helper {
        display: block;
    }

    @media (max-width: 600px) {
        .responsive-buttons-container {
            display: none;
        }
        .explanation {
            display: none;
        }
        .explanation-responsive {
            display: block;
        }
        .turn-device {
            display: block;
        }
    }


}


