body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/background.jpg');
    height: 100vh;
    background-size: cover;
}

canvas {
    background-color: black;
}